{% extends 'ecom/admin/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container register-form mt-5">
    <div class="form">
        <div class="note text-center">
            <h4>Бүтээгдэхүүний мэдээлэл (Засах)</h4>
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-content p-4 border rounded">

              <div class="row">
                <!-- LEFT COLUMN -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Барааны Нэр</label>
                        {% render_field productForm.name class="form-control" placeholder="Product Name" %}
                    </div>
                    <div class="form-group">
                        <label>Барааны Үнэ (₮)</label>
                        {% render_field productForm.price class="form-control" placeholder="15000" %}
                    </div>
                    <div class="form-group">
                        <label>Тайлбар /Specs/</label>
                        {% render_field productForm.description class="form-control" placeholder="Description" %}
                    </div>
                </div>

                <!-- RIGHT COLUMN -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Хямдралтай эсэх</label>
                        {% render_field productForm.discount class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label>Барааны Хямдралын Төрөл</label>
                        {% render_field productForm.discount_type class="form-control" placeholder="Шинэ/20%" %}
                    </div>
                    <div class="form-group">
                        <label>Барааны Хямдралтай Үнэ (₮)</label>
                        {% render_field productForm.discount_price class="form-control" placeholder="Заавал биш" %}
                    </div>
                </div>
                
                  <!-- IMAGES FORMSET -->
                  {{forms.formset.management_form}}
                  <table class="table table-striped table-hover nova_formset" prefix="dtl1">
                    <tbody>
                      {% for form in formset %}
                      <tr>
                        <td>
                          <div class="form-group {% if form.image.errors %}has-error popovers{% endif %}" {% if form.image.errors %}data-container="body" data-trigger="hover" data-placement="left" data-content="{{form.image.errors|join:'<br>'}}"{% endif %}>
                            <div class="input-icon right info plus-with">
                              {{form.image}}
                            </div>
                            {% if form.image.errors %}
                              <span class="help-block hidden">{{ form.image.errors|join:"<br>" }}</span>
                            {% endif %}
                          </div>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary btnSubmit">Хадгалах</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
// document.addEventListener("DOMContentLoaded", function () {
//     let formsetContainer = document.getElementById("image-formset");
//     let addButton = document.getElementById("add-image-btn");
//     let totalForms = document.getElementById("id_form-TOTAL_FORMS");

//     let emptyFormHtml = `
//         <div class="input-group mb-2">
//             {{ formset.empty_form.image.as_widget|escapejs }}
//         </div>
//     `;

//     addButton.addEventListener("click", function () {
//         let formIndex = totalForms.value;
//         let newFormHtml = emptyFormHtml.replace(/__prefix__/g, formIndex);
//         formsetContainer.insertAdjacentHTML("beforeend", newFormHtml);
//         totalForms.value = parseInt(totalForms.value) + 1;
//     });
// });
</script>

{% endblock content %}