{% extends 'ecom/admin/admin_base.html' %}
{% load static %}
{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }
    h6 {
      text-align: center;
    }
    .row {
      margin: 100px;
    }
    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:#3eb54d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 5px 5px 5px #505050;
}

.my-float{
	margin-top:22px;
}
  </style>
</head>

<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h6 class="panel-title">Бренд</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Бренд Нэр</th>
          <th>Бренд Image</th>
        </tr>
      </thead>
      {% for brand in brands %}
        {% if brand %}
          <tr>
            <td> {{brand.name}}</td>
            <td> {{brand.brand_image}}</td>
          </tr>
        {% else %}
          <br><br><br>
          <h1>No Brands!!</h1>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<a href="/admin-add-brand" class="float">
<i class="fa fa-plus my-float"></i>
</a>
{% endblock content %}
