{% extends 'ecom/master.html' %}
{% load static %}
{% block content %}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="{% static '/img/shop01.png' %}" alt="">
					</div>
					<div class="shop-body">
						<h3>Laptop<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->

			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="{% static '/img/shop03.png' %}" alt="">
					</div>
					<div class="shop-body">
						<h3>Accessories<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->

			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="{% static '/img/shop02.png' %}" alt="">
					</div>
					<div class="shop-body">
						<h3>Cameras<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Products</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
							<li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
							<li><a data-toggle="tab" href="#tab1">Cameras</a></li>
							<li><a data-toggle="tab" href="#tab1">Accessories</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->
			
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								{% for prod in products %}
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img class="img" src="{% static prod.product_image.url %}" alt="product pic" height="300px" width="300px">
											{% if prod.discount %}
												<div class="product-label">
													<span class="sale">{{ prod.discount_price }}</span>
													<span class="new">{{ prod.discount_type }}</span>
												</div>
											{% endif %}
										</div>
										<div class="product-body">
											<!-- <p class="product-category">Category</p> -->
											<h3 class="product-name"><a href="#">{{prod.description}}</a></h3>
											<h4 class="product-price">₮ {{prod.price}} <del class="product-old-price">₮ 2500</del></h4>
											<!-- <div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div> -->
											<div class="product-btns">
												<a class="quick-view" href="{% url 'view-product' prod.id %}">
													<i class="fa fa-eye"></i>
													<span class="tooltipp">Дэлгэрэнгүй</span>
												</a>														
											</div>
										</div>
										<div class="add-to-cart">
											<a class="add-to-cart-btn" href="{% url 'add-to-cart' prod.id %}">
												<i class="fa"></i> Add to Cart
											</a>
										</div>
									</div>
									<!-- /product -->
								{% endfor %}
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<!-- <div id="hot-deal" class="section"> -->
<div class="section" style="padding-bottom: 200px;">
	<!-- container -->
	<div class="slider-container">
		<div class="menu">
			<label for="slide-dot-1"></label>
			<label for="slide-dot-2"></label>
			<label for="slide-dot-3"></label>
			<label for="slide-dot-4"></label>
		</div>
		
		<input id="slide-dot-1" type="radio" name="slides" checked>
			<div class="slide slide-1"></div>
		
		<input id="slide-dot-2" type="radio" name="slides">
			<div class="slide slide-2"></div>
		
		<input id="slide-dot-3" type="radio" name="slides">
			<div class="slide slide-3"></div>
		<input id="slide-dot-4" type="radio" name="slides">
			<div class="slide slide-4"></div>
		</div>
	{% comment %}
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3>02</h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3>10</h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3>34</h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3>60</h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">hot deal this week</h2>
						<p>New Collection Up to 50% OFF</p>
						<a class="primary-btn cta-btn" href="#">Shop now</a>
					</div>
				</div>
			</div>
		</div> -->
	{% endcomment %}
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top selling</h3>
					<div class="section-nav">
						<ul class="section-tab-nav tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
							<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
							<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
							<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								{% for prod in products %}
								<div class="product">
									<div class="product-img">
										<img class="img" src="{% static prod.product_image.url %}" alt="product pic" height="250px" width="250px">
										{% if prod.discount %}
											<div class="product-label">
												<span class="sale">{{ prod.discount_price }}</span>
												<span class="new">{{ prod.discount_type }}</span>
											</div>
										{% endif %}
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price">₮ {{prod.price}} <del class="product-old-price">₮ 2500</del></h4>
										<!-- <div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div> -->
										<!-- <div class="product-btns"> -->
											<!-- <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button> -->
											<!-- <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> -->
											<!-- <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button> -->
										<!-- </div> -->
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
								<!-- /product -->
								{% endfor %}
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- /Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
{% comment %}
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-3" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-3">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product07.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product08.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product09.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product01.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product02.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product03.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-4" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-4">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product04.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product05.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product06.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product07.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product08.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product09.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

			<div class="clearfix visible-sm visible-xs"></div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-5" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-5">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product01.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product02.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product03.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product04.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product05.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->

						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="{% static '/img/product06.png' %}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
{% endcomment %}

{% comment %}
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->
{% endcomment %}

{% endblock %}
<script>
	let index = 1;
	const total = 4;

	setInterval(() => {
		document.getElementById("slide-dot-" + index).checked = true;
		index++;
		if (index > total) index = 1;
	}, 4000);

	// document.getElementById('add_cart').addEventListener('click', function() {
	// 	const url = this.dataset.url;
	// 	console.log("add_cart", url)
	// 	fetch(url, {
	// 		method: 'POST',
	// 		headers: {
	// 			'X-CSRFToken': '{{ csrf_token }}',
	// 			'Content-Type': 'application/json'
	// 		},
	// 		body: JSON.stringify({ quantity: 1 })
	// 	})
	// 	.then(response => response.json())
	// 	.then(data => {
	// 		if(data.success){
	// 			alert('Бараа сагсанд нэмэгдлээ!');
	// 			const cartCountElem = document.getElementById('cart-count');
	// 			if(cartCountElem) cartCountElem.innerText = data.cart_count;
	// 		} else {
	// 			alert('Алдаа гарлаа!');
	// 		}
	// 	})
	// 	.catch(err => console.error('Error:', err));
	// });
</script>

<style media="screen">
	body,
	html {
	height: 100%;
	}

	.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	}

	.align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	}

	.flex-centerY-centerX {
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	}

	body {
	background-color:#f7f7f7;
	}

	.page-wrapper {
	height: 100%;
	display: table;
	}

	.page-wrapper .page-inner {
	display: table-cell;
	vertical-align: middle;
	}

	.el-wrapper {
	width: 360px;
	padding: 15px;
	margin: 15px auto;
	background-color: #fff;
	border-radius: 15px;
	}

	@media (max-width: 991px) {
	.el-wrapper {
		width: 345px;
	}
	}

	@media (max-width: 767px) {
	.el-wrapper {
		width: 290px;
		margin: 30px auto;
	}
	}

	.el-wrapper:hover .h-bg {
	left: 0px;
	}

	.el-wrapper:hover .price {
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #f3f3f3;
	}

	.el-wrapper:hover .add-to-cart {
	left: 50%;
	}

	.el-wrapper:hover .img {
	webkit-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
	opacity: 0.4;
	}

	.el-wrapper:hover .info-inner {
	bottom: 155px;
	}

	.el-wrapper:hover .a-size {
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
	bottom: 50px;
	opacity: 1;
	}

	.el-wrapper .box-down {
	width: 100%;
	height: 60px;
	position: relative;
	overflow: hidden;
	}

	.el-wrapper .box-up {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	text-align: center;
	}

	.el-wrapper .img {
	padding: 20px 0;
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	}

	.h-bg {
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	width: 660px;
	height: 100%;
	background-color: #3fcd7f;
	position: absolute;
	left: -659px;
	}

	.h-bg .h-bg-inner {
	width: 50%;
	height: 100%;
	background-color: #464646;
	}

	.info-inner {
	-webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: 10px;
	}

	.info-inner .p-name,
	.info-inner .p-company {
	display: block;
	}

	.info-inner .p-name {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #252525;
	}

	.info-inner .p-company {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	/* text-transform: uppercase; */
	color: #fbfbfb;
	}

	.a-size {
	-webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: -20px;
	font-family: 'PT Sans', sans-serif;
	color: #2b2b2b;
	font-weight: 600;
	opacity: 0;
	}

	.a-size .size {
	color: #252525;
	}

	.cart {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* font-family: 'Lato', sans-serif; */
	font-weight: 700;
	}

	.cart .price {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #252525;
	}

	.cart .add-to-cart {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 110%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	}

	.cart .add-to-cart .txt {
	font-size: 12px;
	color: #fff;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	white-space: nowrap;
	}
	* {
	box-sizing: border-box;
	}

	/* Create three equal columns that floats next to each other */
	.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
	}

	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}

	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
	}

	/* html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	} */

	img {
	max-width: 100%;
	}

	.slider-container{
	height: 30%;
	width: 100%;
	position: absolute;
	overflow: hidden; 
	text-align: center;
	}

	.menu {
	position: absolute;
	left: 0;
	z-index: 900;
	width: 100%;
	bottom: 0;
	}

	.menu label {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50px;
	margin: 0 .2em 1em;
	&:hover {
		background: red;
	}
	}

	.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-size: cover;
	background-position: 50% 50%;
	transition: left 0s .75s;
	}

	[id^="slide"]:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
	}

	.slide-1 {
	background-image: url("{% static 'images/ecom-banner1.jpg' %}");
	}
	.slide-2 {
	background-image: url("{% static 'images/ecom-banner4.jpg' %}");
	}
	.slide-3 {
	background-image: url("{% static 'images/ecom-banner1.png' %}");
	}
	.slide-4 {
	background-image: url("{% static 'images/ecom-banner3.jpg' %}");
	}
</style>