<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}GlobalEvent{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/handsontable.full.min.css' %}">
</head>
<body>
	<!-- HEADER -->
	<header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +976-91909029</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Улаанбаатар, Монгол улс</a></li>
                </ul>
				<ul class="header-links pull-right">
					<li class="account-menu">
						<a href="#"><i class="fa fa-user-o"></i>
							{% if user is None %}
								My Account
							{% else %}
								Сайн уу, {{user}}
							{% endif %}
						</a>
						{% if user is None %}
							<ul class="submenu">
								<li><a href="/customerlogin">Login</a></li>
								<li><a href="/customersignup">Signup</a></li>
							</ul>
						{% else %}
						<ul class="submenu">
							<li><a href="/logout">Гарах</a></li>
						</ul>
						{% endif %}
					</li>
				</ul>
				  
				<style>
				  .header-links {
					list-style: none;
					margin: 0;
					padding: 0;
				  }
				  .header-links li {
					position: relative;
					display: inline-block;
				  }
				  .header-links a {
					color: #333;
					text-decoration: none;
					padding: 8px 12px;
					display: block;
				  }
				  .submenu {
					display: none;
					position: absolute;
					background: #333;
					box-shadow: 0 2px 8px rgba(0,0,0,0.15);
					min-width: 150px;
					border-radius: 4px;
				  }
				  .submenu li a {
					padding: 8px 12px;
				  }
				  .account-menu:hover .submenu {
					display: block;
				  }
				</style>  
            </div>
        </div>

        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="{% static 'img/images_pool.png' %}" alt="Logo" height="48px" width="135px">
                            </a>
                        </div>
                    </div>

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <!-- <option value="0">Ангилал</option>
                                    <option value="1">Category 01</option>
                                    <option value="1">Category 02</option> -->
                                </select>
                                <input class="input" placeholder="Хайлт">
                                <button class="search-btn">Хайх</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <!-- <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">2</div>
                                </a>
                            </div> -->
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Cart</span>
                                    <div class="qty">{{ product_count_in_cart }}</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
										{% for prod in product_cart %}
											<div class="product-widget">
												<div class="product-img">
													<img src="{% static prod.product_image.url %}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">{{prod.name}}</a></h3>
													<h4 class="product-price">₮ {{ prod.discount_price }} <del class="product-old-price">₮ {{ prod.price }}</del></h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										{% endfor %}
                                    </div>
                                    <div class="cart-summary">
                                        <small>Тоо : {{ product_cart|length }}</small>
                                        <h5>Нийт : ₮{{total}}</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="cart">View Cart</a>
                                        <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
	<!-- /HEADER -->

	{% comment %}
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/">Нүүр хуудас</a></li>
					<!-- <li><a href="#">Hot Deals</a></li>
					<li><a href="#">Categories</a></li>
					<li><a href="#">Laptops</a></li>
					<li><a href="#">Smartphones</a></li>
					<li><a href="#">Cameras</a></li>
					<li><a href="#">Accessories</a></li> -->
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	{% endcomment %}

	<!-- MAIN CONTENT -->
	{% block content %}

	{% endblock %}
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Бидний тухай</h3>
								<p>Компани болон үйлчилгээний тухай товч мэдээлэл.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Улаанбаатар, Монгол улс</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+976-91909029</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Биднийг дагаарай</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-pinterest"></i>Pinterest</a></li>
									<li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
									<li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
									<li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Мэдээлэл</h3>
								<ul class="footer-links">
									<li><a href="#">Бидний тухай</a></li>
									<li><a href="#">Холбоо Барих</a></li>
									<li><a href="#">Үйлчилгээний нөхцөл</a></li>
									<li><a href="#">Бараа захиалах заавар</a></li>
									<!-- <li><a href="#">Terms & Conditions</a></li> -->
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Үйлчилгээ</h3>
								<ul class="footer-links">
									<!-- <li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li> -->
									<li><a href="#">Захиалга Харах</a></li>
									<li><a href="#">Тусламж</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="####" target="_blank">KakaLib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
	<!-- /FOOTER -->

	<!-- JS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
